*.o
/config.mk
/ext/frida
/ext/frida-*
/io_frida.dylib
/node_modules/
/src/_agent.h
/src/_agent.js
config.h
.DS_Store
frida-sdk.tar.xz
src/r2frida-compile.dSYM
src/r2frida-compile
src/r2frida-pm
io_frida.so
io_frida.dylib
