[submodule "r2io/cycript"]
	path = ext/cycript
	url = https://github.com/nowsecure/frida-cycript.git
[submodule "ext/swift-frida"]
	path = ext/swift-frida
	url = https://github.com/trufae/swift-frida.git
